.input-container{
    padding: 5px;
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.input{
    width: 80%;
    height: 50px;
    border: none;
    padding: 10px;
    color: black;
    margin: 0 5px;
    font-size: 1rem;
    border-radius: 10px;
    caret-color: black;
    outline-color: #fff;
    background-color: #eee;
}

.btn{
    width: 15%;
    height: 50px;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color2);
    transition: font-size 0.3s;
}