@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Orbitron:wght@600&display=swap');
:root {
  --color1: #BDBDC2;
  --color2: #151F35;
  --color3: #2C3C5B;
  --color4: #0CC5A8;
  --color5: #51F3DA;
  --color6: #5E738E;
  --color7: #869CB8;
  --color8: #A7ACB0;
  --color9: #F5F5F5;

}

* {
  margin: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  font-family: Manrope, sans-serif;
  line-height: 1.6;
  background: rgb(21,31,53);
  background: linear-gradient(90deg, rgba(21,31,53,1) 0%, rgba(44,60,91,1) 35%);
}


.link {
  text-decoration: none;
  border-radius: 5px;
  background-color: var(--color2);
  color: #fff !important;
  height: 30px;
  padding: .5rem;
}